:root {
  --color-main: #42413c;
  --color-orrange: #fe8a02;
  --color-dark: #2a2626;
  --color-dark-light: #908d8b;
  --color-white: #fff;
  --color-white-light: #d7ccc0;
  --color-link: #007dc1;
  --color-background-dark: #b09a81;
  --color-background-light: #f5f4f0;
  --base-margin: 5px;
  --offset-margin: calc(var(--base-margin) * 6);
  --offset-margin-side: calc(var(--offset-margin) / 2);
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-dark);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

iframe {
  border: 0;
}

h1,
h2,
h3,
h4,
.title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h1,
.h1 {
  font-size: 72px;
}

h2,
.h2 {
  font-size: 60px;
}

h3,
.h3 {
  font-size: 34px;
}

h4,
.h4 {
  font-size: 24px;
}

.flex {
  display: flex;
  margin: 0 calc(-1 * var(--offset-margin-side));
}

.flex > * {
  margin-right: var(--offset-margin-side);
  margin-left: var(--offset-margin-side);
}

.flex-w-third {
  width: calc(33.33% - var(--offset-margin));
}

.flex-w-half {
  width: calc(50% - var(--offset-margin));
}

.transition-color {
  transition: color 0.2s;
}

.font-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.reverse {
  flex-direction: row-reverse;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.nowrap {
  white-space: nowrap;
}

.bg-white {
  background-color: var(--color-white);
}

.bg-light {
  background-color: var(--color-background-light);
}

.bg-dark {
  color: var(--color-white);
  background-color: var(--color-background-dark);
}

.bg-main {
  color: var(--color-white);
  background-color: var(--color-main);
}

.bg-graphic {
  position: relative;
}

.bg-orrange {
  background: var(--color-orrange);
}

.bg-graphic > * {
  position: relative;
}

.bg-graphic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.06;
}

.color-link {
  color: var(--color-link);
}

.color-bg-dark {
  color: var(--color-background-dark);
}

.color-main {
  color: var(--color-main);
}

.color-orrange {
  color: var(--color-orrange);
}

.color-white {
  color: var(--color-white);
}

.color-dark-lighten {
  color: var(--color-dark-light);
}

.color-white-lighten {
  color: var(--color-white-light);
}

.layout-wide {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.relative {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.5;
}

.btn-accent {
  color: var(--color-white);
  background: var(--color-orrange);
}

.text-center {
  text-align: center;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.block {
  display: block;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.title-description {
  padding: 5px 10px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.paragraph > p:first-child {
  margin-top: 0;
}

.paragraph > p:last-child {
  margin-bottom: 0;
}

.link {
  transition: opacity 0.2s;
}

.link:hover,
.link:focus {
  text-decoration: none;
}

.link:active {
  opacity: 0.5;
}

.content-wrapper {
  padding: 40px 55px;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.text-small {
  font-size: 14px;
}

.text-middle {
  font-size: 18px;
}

.fz-52 {
  font-size: 52px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-88 {
  margin-top: 88px;
}

.mt-116 {
  margin-top: 116px;
}

.mt-201 {
  margin-top: 201px;
}

.pt-20p {
  padding-top: calc(var(--base-margin) * 20);
}

.pb-20p {
  padding-bottom: calc(var(--base-margin) * 20);
}

.pt-40p {
  padding-top: calc(var(--base-margin) * 40);
}

.mt-minus-20p {
  margin-top: calc(var(--base-margin) * -20);
}

.mb-2p {
  margin-bottom: calc(var(--base-margin) * 2);
}

.mb-4p {
  margin-bottom: calc(var(--base-margin) * 4);
}

.mb-6p {
  margin-bottom: calc(var(--base-margin) * 6);
}

.mt-20p {
  margin-top: calc(var(--base-margin) * 20);
}

.header-page-img {
  position: absolute;
  top: -45px;
  right: -240px;
  width: auto;
  height: 525px;
}

.section-main-nav {
  counter-reset: main-nav-counter;
}

.main-nav-item {
  display: block;
  box-sizing: border-box;
  padding: 24px;
  color: var(--color-main);
  text-decoration: none;
  transition: background 0.2s, opacity 0.2s;
}

.main-nav-counter {
  position: relative;
}

.main-nav-counter::before {
  display: block;
  margin-bottom: calc(var(--base-margin) * 8);
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;
  transition: color 0.2s;
  content: counter(main-nav-counter);
  counter-increment: main-nav-counter;
}

.main-nav-item:hover,
.main-nav-item:focus {
  color: var(--color-white);
  background-color: var(--color-orrange);
}

.main-nav-item:active {
  opacity: 0.5;
}

.main-nav-title {
  color: var(--color-orrange);
}

.main-nav-item:hover .main-nav-title,
.main-nav-item:focus .main-nav-title {
  color: var(--color-white);
}

.form-policy {
  margin: 0;
  font-size: 12px;
}

.form-send-item {
  display: flex;
}

.form-send-input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  font-size: 13px;
  border: 1px solid #e3e3e3;
  border-radius: 0;
}

.form-send-input::placeholder {
  color: rgba(66, 65, 60, 0.2);
}

.form-send-input:hover::placeholder,
.form-send-input:focus::placeholder {
  color: rgba(66, 65, 60, 0.6);
}

.form-send-btn {
  position: relative;
  width: 70px;
  height: 50px;
  padding: 0;
  background-color: var(--color-orrange);
  border: 0;
  border-radius: 0;
  cursor: pointer;
  transition: opacity 0.2s;
}

.form-send-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-image: url(../images/send.svg);
  transform: translate(-50%, -50%);
}

.form-send-btn:hover,
.form-send-btn:focus {
  opacity: 0.8;
}

.form-send-btn:active {
  opacity: 0.5;
}
